body {
  font-family: "Lucida Console", Monospace;
  font-weight: 300;
  background-color: #000000;
}

p {
  font-size: 1.2em;
}

h2 {
  font-weight: 400;
}

a, a:visited {
  color: #ffffff;
}

a {
  color: rgb(255, 255, 255);
}

section {
  padding: 10vh 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section.dark, footer.dark, #header.dark {
  background-color: #000000;
  color: white;
}

section.faq, footer.faq {
  background-color: #000000;
  color: white;
}

section.sponsers, footer.sponsers {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center
}

section.logistics, footer.logistics {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

section.team, footer.team {
  background-color: white;
  color: black;
}

section.contact, footer.contact {
  background-color: black;
  color: white;
}


#header {
  height: 12vh;
  padding: 2vh;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 5vh;
  font-family: "Lucida Console", Monospace;
  font-weight: 500;
  font-size: 3em;
  line-height: 1.5em;
}

.text {
  margin-bottom: 2vh;
  font-size: 1.5em;
  line-height: 1.5em;
}

.logo {
  max-width: 100vw;
  max-height: 40vh;
  margin-bottom: 8vh;
}

.header-logo {
  max-height: 8vh;
}

.bg {
  position: absolute;
  bottom: 0;
  height: 100vh;
  opacity: 0.1;
}

.bg.right {
  right: 0;
}

.bg.left {
  left: 0;
}

img {
  vertical-align: middle;
}

.platinum, .gold, .silver {
  margin-top: 20px;
}

.gold {
  border-top: solid 4px #c29a36;
}

.silver {
  border-top: solid 4px #82969a;
}

.bronze {
  border-top: solid 4px #7d6a52;
}

.platinum img {
  margin: 20px;
  max-height: 25vh;
  max-width: 50%;
}

.gold img {
  margin: 20px;
  max-height: 12vh;
  max-width: 30%;
}

.silver img {
  margin: 20px;
  max-height: 9vh;
  max-width: 15%;
}

.team.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  padding-bottom: 40px; }
  .team.grid .alumni img {
    filter: grayscale(0) contrast(0.8); }

.banner {
  text-align: center;
  padding: 20px 0;
  background-color: #000E1F; /* Dark navy blue background */
  color: #fff; /* White text */
  font-family: "Raleway", sans-serif; /* Same font as .title */
  font-weight: 500; /* Same font weight as .title */
  font-size: 3em; /* Same font size as .title */
  line-height: 1.5em; /* Same line height as .title */
  width: 100%; /* Make the banner go across the whole page */
  position: relative; /* Center the banner */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5vh; /* Same margin as .title */
}

.team.grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1; }

.team.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1; }

.team.single {
  color: rgb(0, 0, 0);
  position: relative; }
  .team.single img {
    border-radius: 50%;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
    filter: contrast(0.8); }
  .team.single .name {
    font-size: 1.5em; }


@media screen and (max-width: 730px) {
  .team.grid {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 540px) {
  .team.grid {
    grid-template-columns: repeat(2, 1fr); } }

#maintitle {
  font-size: 3.5em;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.main-image {
  max-width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto;
}

#arrow {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  color: white;
}

footer {
  height: 120px;
  padding-top: 10px;
  background-color: black ;
  position: relative; 
  color: white;

}

footer .icons {
  margin-bottom: 5px;
}

footer .icons a {
  display: inline-block;
  font-size: 1.3em;
  color: rgb(236, 240, 242) !important;
  margin: 0px;
}

footer .copyright {
  font-size: 1em;
  margin: 10px 0 5px 0;
}

footer #elevator {
  font-size: 0.8em;
  background-color: #000000;
  color: rgba(252, 252, 252, 0.6) !important;
  text-decoration: underline;
}
